<h1>Listing people</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Pennid</th>
      <th>Photo key</th>
      <th>Selected photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.pennid %></td>
        <td><%= link_to(person.photo_key, "/apps/my/images/faculty_pics/#{person.photo_key}.jpg") %></td>
        <td><%= image_tag(person.selected_portrait.img_url(:thumb), class: 'tiny') if person.selected_portrait_id? %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
