<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Pennid:</strong>
  <%= @person.pennid %>
</p>

<p>
  <strong>Photo key:</strong>
  <%= link_to(@person.photo_key, "/apps/my/images/faculty_pics/#{@person.photo_key}.jpg") %>
</p>

<p>
  <%= link_to( image_tag( @person.selected_portrait.img.url(:thumb) ), edit_person_path(@person) ) if @person.selected_portrait_id? %>
</p>
<p>
  <%= link_to 'Add portrait', new_portrait_path(person_id: @person.id) %> |
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
